@page "/restaurant/{Id:guid}"
@using Delivery.Common.Models.Dish
@inherits Delivery.Web.App.Pages.PageBase

<PageTitle>Restaurant Detail</PageTitle>

<h1>Restaurant Detail</h1>

@if (Restaurant == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row">
        <div class="col-2">
            <img class="rounded mx-auto d-block w-100" src="@Restaurant.LogoUrl">
        </div>
        <div class="col-6">
            <h3>@Restaurant.Name</h3>
            <p>@Restaurant.Description</p>
        </div>
    </div>
    <NavLink class="nav-link" href="@($"restaurant/{Id}/edit")">
        <button type="button" class="btn btn-primary">Edit</button>
    </NavLink>
    <h2>Restaurant dishes</h2>
    <div class="row">
        <div class="col-md">
            <DishList Dishes="@Dishes"/>
        </div>
        <div class="col-md">
            <DishEditForm OnModification="NavigateBack" />
        </div>
    </div>
}